<div id="music">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">

        <script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/meting@1.2.0/dist/Meting.min.js"></script>
        
        <div id="my-aplayer"
        
         class="aplayer" 
        
         data-id="5010430092" 
        
         data-server="netease" 
        
         data-type="playlist" 
        
         data-fixed="true" 
        
         data-autoplay="false" 
        
         data-order="list" 
        
         data-volume="0.55" 
        
         data-theme="#cc543a" 
        
         data-preload="auto" 
        
        ></div>
 
</div>





